/* Articles Page */

.articles {
  padding: 0.5em;
}

.topic-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

/* Filter Articles */
.filter-heading {
  margin-bottom: 1rem;
}

.query-container {
  padding: 0.5em;
  background-color: var(--bg-color);
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 1em;
  box-shadow: 1px 0 2px 1px black;
  /* background-color: var(--bg-color); */
}

.query-list {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: white;
  accent-color: var(--bg-secondary-color);
  /* padding: 0.5em 0.75em; */
}

.query-legend {
  background: var(--bg-secondary-color);
  padding: 6px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 0.25em;
  color: var(--font-secondary-color);
}

.query-list_label {
  text-transform: capitalize;
}

.query-submit-btn {
  width: 150px;
  padding: 0.5em;
  border-radius: 2rem;
  margin: 0 auto;
}

.query-submit-btn:hover {
  background: var(--bg-secondary-color);
  color: var(--font-secondary-color);
  font-weight: 700;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
}

/* Articles Container */

.articles-container {
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  place-content: center;
  margin-top: 1em;
}

/* Article Preview */

.article-preview {
  /* max-width: 300px; */
  border: 1px solid black;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.62);
}

.article-preview:hover {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
}

.article-preview-img {
  width: 100%;
}

.article-preview-details {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.article-preview-details a:hover {
  text-underline-offset: 3px;
}

.article-preview-details_information {
  display: flex;
  justify-content: space-between;
}

.article-preview-label {
  font-weight: 600;
}

/* Article Details + Comments */

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 1px solid black;
  border-radius: 0.25em;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.62);
}

.article-detail {
  width: 100%;

  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.article-detail a:hover {
  font-weight: 600;
}

.article-detail_title {
  text-wrap: wrap;
  width: 15ch;
}

.article-detail_topic {
  text-transform: capitalize;
  font-weight: 600;
}

.article-detail_img {
  max-width: 100%;
  height: auto;
  margin-block: 0.5em;
  border-radius: 0.25em;
}

.article-detail_container,
.comment-detail_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article hr {
  border: 1px solid var(--bg-secondary-color);
  width: calc(100% - 5px);
}

/* Media Queries */
@media screen and (min-width: 375px) {
  .article-detail_title {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .article-detail {
    gap: 2em;
  }

  .article-detail_title {
    width: 70%;
  }
  .article-detail_img {
    max-width: calc(100% - 150px);
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .article-detail_img {
    max-width: calc(100% - 300px);
  }
}

.comment-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.no-comments {
  margin-top: 1em;
}
