/* Articles Page */

.articles {
  padding: 0.5em;
}

.topic-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

/* Filter Articles */
.filter-heading {
  margin-bottom: 1rem;
}

.query-container {
  padding: 0.5em;
  background-color: var(--bg-color);
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 1em;
  box-shadow: 1px 0 2px 1px black;
  /* background-color: var(--bg-color); */
}

.query-list {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: white;
  accent-color: rgb(84, 21, 109);
  /* padding: 0.5em 0.75em; */
}

.query-legend {
  background: rgb(204, 119, 119);
  padding: 6px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 0.25em;
}

.query-list_label {
  text-transform: capitalize;
}

.query-submit-btn {
  width: 150px;
  padding: 0.5em;
  border-radius: 2rem;
  margin: 0 auto;
}

.query-submit-btn:hover {
  background: rgb(204, 119, 119);
  color: rgb(51, 13, 66);
  font-weight: 700;
  box-shadow: -2px 1px 8px 1px rgba(0, 0, 0, 0.62);
  /* -webkit-box-shadow: -6px 5px 9px 3px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -6px 5px 9px 3px rgba(0, 0, 0, 0.62); */
}

/* Articles Container */

.articles-container {
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  place-content: center;
  margin-top: 1em;
}

/* Article Preview */

.article-preview {
  /* max-width: 300px; */
  border: 1px solid black;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.62);
}

.article-preview:hover {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.75);
}

.article-preview-img {
  width: 100%;
}

.article-preview-details {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.article-preview-details a:hover {
  text-underline-offset: 3px;
}

.article-preview-details_information {
  display: flex;
  justify-content: space-between;
}

.article-preview-label {
  font-weight: 600;
}

/* Article Details + Comments */

.article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.article-detail {
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-detail_container,
.comment-detail_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-detail_img {
  /* TODO - Check what is needed here */
  margin-block: 0.5em;
}

.article-detail_body {
  margin-block: 1em;
}

.interactive {
  border-bottom: 1px solid black;
}

.comment-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.no-comments {
  margin-top: 1em;
}
