/* User Container */

.user-container {
  display: flex;
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: white;
}

/* Log In User */

.user-login-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0.25em;
}

.user-login-container h2 {
  font-size: 1.25rem;
}

/* Logged In User */

.user-header {
  display: flex;
  gap: 0.5em;
  padding: 0.25em;
}

.user-header_subContainer {
  display: flex;
  flex-direction: column;
}

.user-header_img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid black;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  .user-login-container {
    padding: 0.5em;
  }

  .user-header {
    gap: 1em;
    padding: 1em;
  }

  .user-header_img {
    width: 70px;
  }

  .user-header_subContainer {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .user-login-container {
    padding: 1em;
  }
}
