body {
  padding: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  font: inherit;
}

button:hover {
  opacity: 0.8;
}

input[type='radio'] {
  cursor: pointer;
}
